#app > h1 {
    height: 576px;
    font-size: 18px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    margin-left: 54px;
}

#app > p, blockquote {
    text-align: justify;
    font-family: 'Noto Serif TC', 'Noto Serif SC', 'Noto Serif JP', serif;
    height: 576px;
    line-height: 1.66;
    margin: 0;
    text-indent: 18px;
}

#app > blockquote {
    margin-top: -16px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    height: 576px;
    border-top: 2px solid #000;
    padding-top: 16px;
}

.cjk {
    font-family: serif;
}

.latin {
    font-family: 'EB Garamond', 'Noto Serif TC', 'Noto Serif SC', 'Noto Serif JP', serif;
    font-size: 18px;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

a {
    text-decoration: none;
}